@model List<Category>

<select class="form-select my-3" asp-for="@ViewData["CategoryId"]" name="CategoryId">
    <option value="">-- Select Category --</option>
    @foreach (var item in Model)
    {
        <option value="@item.CategoryId">@item.CategoryName</option>
    }
</select>