@model List<Category>
<select class= "form-select my-3" name="CategoryId">
    <option hidden>Select Any Category</option>
    @foreach(var item in Model)
    {
        <option value="@item.CategoryId"
        selected="@(item.CategoryId==ViewBag.CategoryId)">@item.CategoryName</option>
    }
</select>