@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase">All Categories</h2>
    <a asp-action="AddCategory" class="my-3 btn btn-primary">➕ Add Category</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CategoryId</td>
                        <td>@item.CategoryName</td>
                        <td>
                            <a asp-action="UpdateCategory" asp-route-id="@item.CategoryId" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-action="DeletePermissionCategory" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>